In [21]:
!pip install pandas_ta

Collecting pandas_ta
  Downloading pandas_ta-0.2.23b.tar.gz (75 kB)
Requirement already satisfied: pandas in c:\users\felbu\miniconda3\lib\site-packages (from pandas_ta) (1.2.0)
Requirement already satisfied: python-dateutil>=2.7.3 in c:\users\felbu\miniconda3\lib\site-packages (from pandas->pandas_ta) (2.8.1)
Requirement already satisfied: numpy>=1.16.5 in c:\users\felbu\miniconda3\lib\site-packages (from pandas->pandas_ta) (1.18.0)
Requirement already satisfied: pytz>=2017.3 in c:\users\felbu\miniconda3\lib\site-packages (from pandas->pandas_ta) (2019.3)
Requirement already satisfied: six>=1.5 in c:\users\felbu\appdata\roaming\python\python38\site-packages (from python-dateutil>=2.7.3->pandas->pandas_ta) (1.13.0)
Building wheels for collected packages: pandas-ta
  Building wheel for pandas-ta (setup.py): started
  Building wheel for pandas-ta (setup.py): finished with status 'done'
  Created wheel for pandas-ta: filename=pandas_ta-0.2.23b0-py3-none-any.whl size=156159 sha256=de089cf2591f08fd1edca6e212dc29c873f14be0b3b61a6323629ece9c9a8bff
  Stored in directory: c:\users\felbu\appdata\local\pip\cache\wheels\bf\32\bb\bda00fd30fd6e5b13ae2776509304f8bb03ee4135e56704e33
Successfully built pandas-ta
Installing collected packages: pandas-ta
Successfully installed pandas-ta-0.2.23b0

In [52]:
import investpy as ip
from datetime import datetime
from tqdm import tqdm
import pandas as pd
import quantstats as qs
import numpy as np
import warnings
warnings.filterwarnings('ignore')

In [53]:
import pandas_ta as ta
import investpy as ip

In [168]:
today = datetime.today().date().strftime('%d/%m/%Y')
#start_of_year = f'1/1/{datetime.today().date().year}'
start_of_year = '01/01/2020'

In [169]:
tickers = list(ip.get_stocks(country='brazil').symbol)
#tickers = tickers[0:5]
stock = tickers[0]

In [170]:
price = ip.get_stock_historical_data(stock, 'brazil', from_date=start_of_year, to_date=today)

In [171]:
macdh = price.ta.macd(10,18,9).iloc[:,1]

In [172]:
macdh

date
2020-01-02         NaN
2020-01-03         NaN
2020-01-06         NaN
2020-01-07         NaN
2020-01-08         NaN
                ...
2021-01-13    0.014209
2021-01-14    0.028014
2021-01-15   -0.000137
2021-01-18   -0.013560
2021-01-19   -0.041879
Name: MACDh_10_18_9, Length: 261, dtype: float64

In [173]:
sell_dates = macdh.index[np.where(np.sign(macdh).diff() == -2)]
buy_dates = macdh.index[np.where(np.sign(macdh).diff() == +2)]

In [174]:
macdh[-1]

-0.04187881780123626

In [175]:
buy_dates

DatetimeIndex(['2020-02-05', '2020-03-25', '2020-05-20', '2020-07-09',
               '2020-08-21', '2020-10-07', '2020-11-09', '2020-12-22'],
              dtype='datetime64[ns]', name='date', freq=None)

In [119]:
df = pd.DataFrame([], index=tickers, columns=['most_recent_buy_date','macdh'])
df.head()

      most_recent_buy_date
ABCB4                  NaN
AGRO3                  NaN
RAIL3                  NaN
ALPA3                  NaN
ALPA4                  NaN

In [133]:
success, fail = 0, 0
for t in tqdm(tickers):
    
    try:
        price = ip.get_stock_historical_data(t, 'brazil', from_date=start_of_year, to_date=today)
        macdh = price.ta.macd(10,18,9).iloc[:,1]
        buy_dates = macdh.index[np.where(np.sign(macdh).diff() == +2)]

        sell_dates = macdh.index[np.where(np.sign(macdh).diff() == -2)]
        most_recent_buy_date = max(buy_dates)
        most_recent_sell_date = max(sell_dates)

        #If the most recent signal was a buy signal... 
        if most_recent_buy_date > most_recent_sell_date:
            #put this stock into the list
            df.loc[t,'most_recent_buy_date'] = most_recent_buy_date
            df.loc[t,'macdh'] = macdh[-1]
        
        success +=1
        
    except:
        fail += 1

100%|████████████████████████████████████████████████████████████████████████████████| 749/749 [07:57<00:00,  1.57it/s]

In [134]:
df.dropna().sort_values(['most_recent_buy_date','macdh'],ascending=False).head(50)

        most_recent_buy_date     macdh
AALL34   2021-01-19 00:00:00  0.126914
OUJP11   2021-01-19 00:00:00  0.054281
CVBI11   2021-01-19 00:00:00  0.037500
ALPA3    2021-01-19 00:00:00  0.033742
BMEB3    2021-01-19 00:00:00  0.032313
LAME4    2021-01-19 00:00:00  0.028654
MDTC34   2021-01-19 00:00:00  0.028446
IGTA3    2021-01-19 00:00:00  0.024079
TASA17   2021-01-19 00:00:00  0.020167
BRML3    2021-01-19 00:00:00  0.012087
PTNT4    2021-01-19 00:00:00  0.009116
KNRE11   2021-01-19 00:00:00  0.002952
MMXM11   2021-01-19 00:00:00  0.002098
AMAR3    2021-01-19 00:00:00  0.001330
SHPH11   2021-01-18 00:00:00  0.443882
WLMM3    2021-01-18 00:00:00  0.432564
HCRI11   2021-01-18 00:00:00  0.374815
SUZB3    2021-01-18 00:00:00  0.211789
EDFO11B  2021-01-18 00:00:00  0.108791
FIIP11B  2021-01-18 00:00:00  0.101379
ANIM3    2021-01-18 00:00:00  0.095002
RBGS11   2021-01-18 00:00:00  0.085135
HETA4    2021-01-18 00:00:00  0.084172
TASA3    2021-01-18 00:00:00  0.081232
MMXM3    2021-01-18 00:00:00  0.079234
OSXB3    2021-01-18 00:00:00  0.070048
HGFF11   2021-01-18 00:00:00  0.066950
RBED11   2021-01-18 00:00:00  0.058686
ATTB34   2021-01-18 00:00:00  0.053344
HMOC11   2021-01-18 00:00:00  0.049133
CRIV3    2021-01-18 00:00:00  0.048458
AZUL4    2021-01-18 00:00:00  0.032767
ALUP4    2021-01-18 00:00:00  0.013796
BBRK3    2021-01-18 00:00:00  0.003746
EUCA4    2021-01-18 00:00:00  0.001462
FSRF11   2021-01-18 00:00:00  0.000623
ARZZ3    2021-01-15 00:00:00  0.548858
OUCY11   2021-01-15 00:00:00  0.229678
ALPA4    2021-01-15 00:00:00  0.159500
RBRP11   2021-01-15 00:00:00  0.158800
RDNI3    2021-01-15 00:00:00  0.069242
CEAB3    2021-01-15 00:00:00  0.058727
LAME3    2021-01-15 00:00:00  0.053973
EVEN3    2021-01-15 00:00:00  0.044180
CPFE3    2021-01-15 00:00:00  0.030890
CCPR3    2021-01-15 00:00:00  0.029173
ALUP11   2021-01-15 00:00:00  0.029052
TRIS3    2021-01-15 00:00:00  0.021524
JHSF3    2021-01-15 00:00:00  0.017229
VULC3    2021-01-15 00:00:00  0.011731

In [176]:
price = ip.get_stock_historical_data(stock, 'brazil', from_date=start_of_year, to_date=today)
macdh = price.ta.macd(10,18,9).iloc[:,1]

In [187]:
(np.sign(macdh).diff().dropna().abs() == 2)

date
2020-01-28    False
2020-01-29    False
2020-01-30    False
2020-01-31     True
2020-02-03    False
              ...
2021-01-13    False
2021-01-14    False
2021-01-15     True
2021-01-18    False
2021-01-19    False
Name: MACDh_10_18_9, Length: 243, dtype: bool

In [188]:
(np.sign(macdh).diff().dropna().abs() == 2).cumsum().value_counts().values[1:-1]

array([27, 24, 21, 19, 19, 15, 14, 13, 12, 11, 10, 10,  6,  3,  3,  3],
      dtype=int64)

'ABCB4'